# --- Directus ---
DIRECTUS_VERSION=12.4
DIRECTUS_PORT=8055
DIRECTUS_URL=http://localhost:8055
# Générer avec: openssl rand -hex 32
DIRECTUS_SECRET=
DIRECTUS_ADMIN_EMAIL=admin@example.com
DIRECTUS_ADMIN_PASSWORD=

# --- Database (PostgreSQL / PostGIS) ---
DIRECTUS_DB_NAME=dewit-directus
DIRECTUS_DB_USER=dewit-directus
DIRECTUS_DB_PASSWORD=

#TRAEFIK_HTTP_PORT=80
#TRAEFIK_HTTPS_PORT=443
